@import "~@angular/material/theming";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@import "./assets/responsive.mixin.scss";
@import "https://fonts.googleapis.com/css?family=Material+Icons+Sharp";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merienda+One:400&display=swap");

$fontConfig: (
  display-4: mat-typography-level(2.875rem, 3.375rem, 700, "Ubuntu", 0em),
  display-3: mat-typography-level(1.625rem, 1.75rem, 400, "Ubuntu", -0.0192em),
  display-2: mat-typography-level(1.25rem, 1.375rem, 400, "Ubuntu", 0em),
  display-1: mat-typography-level(1.12rem, 1.062rem, 400, "Ubuntu", -0.0192em),
  headline: mat-typography-level(1.625rem, 2rem, 300, "Merienda One", 0.0096em),
  title: mat-typography-level(1.25rem, 2rem, 300, "Ubuntu", 0.0075em),
  subheading-2: mat-typography-level(1rem, 1.75rem, 300, "Ubuntu", 0.0094em),
  subheading-1: mat-typography-level(1rem, 1.5rem, 400, "Ubuntu", 0.01em),
  body-2: mat-typography-level(0.875rem, 1.5rem, 300, "Ubuntu", 0em),
  body-1: mat-typography-level(0.875rem, 1.25rem, 300, "Ubuntu", 0em),
  button: mat-typography-level(1.12rem, 1rem, 400, "Ubuntu", 0.0875em),
  caption: mat-typography-level(0.75rem, 1.25rem, 300, "Ubuntu", 0em),
  input: mat-typography-level(inherit, 1.125, 300, "Ubuntu", 1.5px),
);

// Foreground Elements

// Light Theme Text
$dark-text: #2b1f20;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #e7e7e7;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background: #f6f8f9;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Dark bg
$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#f6f8f9, 0.04);
$light-bg-alpha-12: rgba(#f6f8f9, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config
body {
  --primary-color: #4199d8;
  --primary-lighter-color: #c6e0f3;
  --primary-darker-color: #2a7cc8;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #4199d8,
  lighter: #c6e0f3,
  darker: #2a7cc8,
  200: #4199d8,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #56b498;
  --accent-lighter-color: #cce9e0;
  --accent-darker-color: #3c9c7b;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #56b498,
  lighter: #cce9e0,
  darker: #3c9c7b,
  200: #56b498,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);

$theme-warn: mat-palette($mat-warn, main, lighter, darker);
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming
// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 41.6px;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: "Material Icons Sharp", "Material Icons";
  .mat-badge-content {
    font-family: "sans-serif", "Ubuntu";
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
//= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
// Custom styles
//= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
////////////////////////////////////////////////////////////////////////////////////////////////////////

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 16px;
  @include lg {
    // font-size: 15px;
  }
  @include xs {
    // font-size: 8px;
  }
}

body {
  --gutter: 3rem;
  font-family: "sans-serif";
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  h1,
  h2,
  h3,
  p {
    margin-bottom: 0.9em !important;
    margin-block-end: 0.9em !important;
  }
  main {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 1698px;
    margin-bottom: calc(var(--gutter, 2.5rem) * 2);
    @include lg {
      padding: 0 5.8%;
    }
    .mat-display-4,
    .mat-display-3,
    .mat-display-2,
    .mat-display-1,
    .mat-headline,
    .mat-title,
    .mat-subheading-2,
    .mat-subheading-1,
    .mat-body2,
    .mat-body-1,
    .mat-button,
    .mat-caption,
    .mat-input {
      margin: 0;
    }
  }
}

.primary {
  color: var(--primary-color);
}
.accent {
  color: var(--accent-color);
}
.warn {
  color: var(--warn-color);
}